/* index html의 css 파일입니다. */
body {
    margin: 0;
    text-align: center;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}

header {
    width: 100%;
    height: 500px;
    line-height: 500px;
    margin-top: 10%;
}

ul {
    list-style: none;
    display: flex;
}

#title img {
    position: absolute;
    top: 0;
    left: 550px;
    width: 230px;
    height: 130px;
}

.lh {
    float : left;
    text-align: left;
    padding-left: 20px;
    margin: 35px 0 20px 0;
}

.lh h1 {
    font-size: 30px;
}

.rh {
    float: right;
    padding-right: 20px;
    margin: 30px 0 20px 0;
}

#nh a {
    text-decoration: none;
    color: black;
}

#nh .nhm {
    width: 100px;
    height: 40px;
    line-height: 40px;
}

#nh li {
    position:relative;
}

#nh li:not(:last-child):hover {
    background-color: rgb(204, 204, 255);
    border-radius: 3%;
}

/* 메뉴 사이사이 구분자 넣기 */
#nh li:not(:last-child):after {
    content: '|';
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}

#nh li:not(:last-child):after {
    content: '|';
    padding: 0 4px; /* 간격 조절 */
}

.btn {
    width: 200px;
    margin: 50px;
}

.bs {
    width: 100%;
}

